.home {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-background-text {
    font-weight: bolder;
    font-size: 95px;
    margin: 80px 40px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(226, 224, 224, 0.788);
}

/* content */

.home-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.home-content-wrapper {
    margin: auto;
    width: calc(100vw - 80px);
    height: 100%;
    display: flex;
    align-items: center;
}

.home-content-left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 60%;
}

.home-content-name {
    font-size: 12px;
    color: rgb(190, 190, 190);
    letter-spacing: 8px;
    margin-bottom: 5px;
}

.home-content-role {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.home-content-text {
    font-size: 12px;
    color: #888;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.home-content-button {
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid rgb(168, 156, 156);
    font-size: 11px;
    cursor: pointer;
    outline: none;
    color: #333;
    background-color: #fff;
    transition: all 1s ease;
}

.home-content-button:hover {
    border: 1px solid dimgray;
    background-color: dimgray;
    color: #fff;
}

.home-content-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}

@media only screen and (max-width: 639px) {
    .home-background-text {
        font-weight: bold;
        font-size: 60px;
        margin: 20vh 0 0 20px;
    }
    .home-content-wrapper {
        margin: auto;
        width: calc(100vw - 40px);
    }
    
    .home-content-container {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        width: 90%;
    }
    .home-content-role {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .home-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.9;
    }
    
    .home-content-button {
        padding: 10px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 340px) {
    .home-background-text {
        font-weight: bold;
        font-size: 50px;
        margin: 30vh 0 0 20px;
    }
    .home-content-wrapper {
        margin: auto;
        width: calc(100vw - 40px);
    }
    .home-content-left {
        flex: 12;
    }
    .home-content-container {
        width: 90%;
        margin-top: 120px;
    }
    .home-content-right {
        display: none;
    }
    .home-content-role {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .home-content-button {
        padding: 10px;
        font-size: 10px;
    }
}

